
<h2>Basic Info</h2>
<form class='createRecipe'>
    <img src= 'http://lorempixel.com/output/food-q-c-150-150-10.jpg' />
    {{input type='text' value=title placeholder='Recipe Name'}}
    {{input type='text' value=author placeholder='By'}}
    {{input type='text' value=prepTime placeholder='Prep Time'}}
    {{input type='text' value=cookTime placeholder='Cook Time'}}
    {{input type='text' value=cookTemp placeholder='Cook Temp'}}
    <select name='recipeType'>
        <option value='farenheit'>Farenheit</option>
        <option value='celsius'>Celsius</option>
    </select>  
    {{input type='text' value=yield_amount placeholder='Amount'}}
    {{input type='text' value=yield_type placeholder='cookies, loaves, etc'}}

    <h2>Step 1</h2>
    {{input type='text' value=measurement placeholder='Amount'}}
    <select name='recipe_type'>
        <option value='cups'>Cups</option>
        <option value='grams'>Grams</option>
        <option value='tbsp'>Tablespoons</option>
        <option value='oz'>Ounces</option>
    </select>
    {{input type='text' value=ingredient placeholder='Ingredient'}}
    {{textarea value=step_directions placeholder='What directions go with this step?'}}
    <input type='submit' value='Add another step' />

    <h2>Personal Notes</h2>
    {{textarea value=personal_notes placeholder='Personal Notes'}}
 
    <button {{action 'createRecipe'}}>SuperCool</button>
</form>
