
<h2 class='small-food-header'>Create Recipe</h2>
<form class='forms'>
    {{input type='text' value=title placeholder='Recipe Name'}}
    {{view Ember.Select content=recipeType prompt='Choose Recipe Type' value=selectedRecipeType class='dropdown'}}
    {{input type='text' value=prepTime placeholder='Prep Time'}}
    {{input type='text' value=cookTime placeholder='Cook Time'}}    
    {{input type='text' value=cookTemp placeholder='Cook Temp'}}
    {{view Ember.Select content=tempType value=selectedTempType prompt='Choose Temperature Type' class='dropdown'}}

    <span class='texts'>This recipe will make:</span>
    {{input type='text' value=yieldAmount placeholder='Amount'}}
    {{input type='text' value=yieldType placeholder='cookies, loaves, etc'}} 

    <h2 class='texts'>Step 1</h2>

    {{input type='text' value=measurement placeholder='Amount'}}
    {{view Ember.Select content=measurementType prompt='Choose Measurement Unit' value='selectedMeasurementType' class='dropdown'}}

    {{input type='text' value=ingredient placeholder='Ingredient'}}
    {{textarea value=step_directions placeholder='What directions go with this step?'}}

    <button {{action 'addStep'}}>Add another step</button>

    <h2 class='texts'>Personal Notes</h2>
    {{textarea value=personalNote placeholder='Personal Notes'}}
 
    <button {{action 'createRecipe'}}>SuperCool</button>
</form>
