<div class='detail-wrapper'>
    <h2>{{title}}</h2>
    <h3>{{author}}</h3>
    <img {{bind-attr src=image}}>
</div>
<ul>
    <li>
        <span>Recipe Type</span> 
        {{type}}
    </li>
    <li>
        <span>Prep Time</span> 
        {{prepTime}}
    </li>
    <li>
        <span>Cook Time</span> 
        {{cookTime}}
    </li>
    <li>
        <span>Cook Temp</span> 
        {{cookTemp}}
    </li>
</ul>