<h2>Account Settings</h2>
<form>
    {{input type='text' value=username}}
    {{input type='text' value=firstName}}
    {{input type='text' value=lastName}}
    {{input type='submit' value='Update'}}
    {{input type='submit' value='Delete Account'}}
</form>
