<h1 class='signup'>Create an Account</h1>
<form>
    {{input type='text' value=username placeholder='Username'}}
    {{input type='password' value=password placeholder='Password'}}
    {{input type='text' value=firstName placeholder='First Name'}}
    {{input type='text' value=lastName placeholder='Last Name'}}
    {{input type='submit' value='Create Account'}}
</form>
